<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
</head>
<body>
    <form id="loginForm">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Iniciar sesión</button>
    </form>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evita el envío del formulario por defecto
            
            // Capturar los datos del formulario
            const correo = document.getElementById('correo').value;
            const password = document.getElementById('password').value;
            
            // Crear los parámetros en formato x-www-form-urlencoded
            const params = new URLSearchParams();
            params.append('correo', correo);
            params.append('password', password);

            try {
                // Enviar la solicitud POST al servidor en formato x-www-form-urlencoded
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: params.toString() // Convertir los parámetros a una cadena
                });
                
                // Verificar si la respuesta es exitosa
                if (response.ok) {
                    const data = await response.json();
                    // Guardar el token en localStorage
                    console.log(data)
                    localStorage.setItem('access_token', data.Token);
                    alert('Login exitoso');
                    // Redirigir a otra página o cargar contenido protegido
                    window.location.href = "/index";
                } else {
                    const errorData = await response.json();
                    alert(`Error: ${errorData.msg}`);
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
                alert('Ocurrió un error en el servidor.');
            }
        });
    </script>
</body>
</html>